.slider-text{
    /* height: 100px; */
    width: 100%;
    max-width: 34rem;
    /* background-color: blue; */
}

.slider-text h1{
    font-size: 2.9375rem;
    line-height: 3.25rem;
    font-weight: 300;
}

.slider-text h1 b{
    font-weight: 800;
}
.slider-cont{
    padding-top: 50px;
}
.slider-text button{
    cursor: pointer;
    padding: 0.8125rem 1.625rem;
    border-radius: 0.54167rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #009ca6;
    color: #009ca6;
}

.slider-grid2-box{
    max-width: 27rem;
    height: 180px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 29px -8px black;
}
.onboarding-preview-content{
    margin-top: 190px;
}
.onboarding-preview-content img{
    width: 80%;
    margin-left: 10%;
    margin-top: -25%;
}
.onboarding-preview-content p{
    width: 90%;
    padding-left: 10%;
    font-size: 13px;
}

.secondary-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 0.8125rem 1.625rem;
    border-radius: 0.54167rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f5ad00;
    letter-spacing: 2px;
    line-height: 1;
    border: 1px solid transparent;
    background-position-x: 0%;
    background-size: 200% 100%;
    transition: background-position-x 0.3s cubic-bezier(0, 0, 0.2, 1);
    margin-left: 25%;
}